{{#each posts as |post|}}
<div class="card">
  <div class="card-body">
      <div class="card-header">
        <h4 class="card-title"><a href='/post/{{post.id}}'>{{post.title}}</a></h4>
        <h6 class="card-subtitle mb-2 text-muted text-right">Created by {{user.username}} on {{format_date date_created}}</h6>
      </div>
    
    <p class="card-text m-4">{{post.content}}</p>
    
  </div>
</div>
{{/each}}