

<div class="card" >
  <div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Created by {{user.username}} on {{format_date date_created}}</h6>
    <p class="card-text" id="post-content">{{content}}</p>
    <div class="update-buttons" data-id="{{id}}">
    <button type="button" class="btn btn-primary col-11" id="add-comment">Add Comment</button>
    {{#if post_owner}}
    <button type="button" class="btn btn-success col-5" id="update-post">Update</button>
    <button type="button" class="btn btn-danger col-5" id="delete-post">Delete</button>
    {{/if}}
    </div>
    {{!-- <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a> --}}
  </div>
</div>

<div class="card" id="new-input-area">

</div>

{{#each comments as |comment|}}
<div class="card" style=>
  <div class="card-body">
    {{!-- <h4 class="card-title">{{title}}</h4> --}}
    <h6 class="card-subtitle mb-2 text-muted">Created by {{user.username}} on {{format_date comment.date_created}}</h6>
    <p class="card-text">{{comment.content}}</p>
  </div>
</div>
{{/each}}

{{#if post_owner}}
<script src="/js/update.js"></script>
{{/if}}
<script src="/js/post.js"></script>